:root{
    --background-color: rgb(255, 255, 255);
}

body{
    background: var(--background-color);
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana;
    overflow-x: hidden;
    text-align: center;
    color: black;
    font-size: 2vh;
    margin: 0;
    padding: 0;
}

a{
    display: contents;
    color: black;
}

a:hover{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    background: var(--background-color);
    top: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    z-index: 3;
    border-bottom: 1vh solid black;
}

footer{
    position: fixed;
    background: var(--background-color);
    bottom: 0;
    width: 100%;
    z-index: 3;
    border-top: 1vh solid black;
}

header a:hover{
    color: blue;
}

.logo:hover{
    cursor: pointer;
}

/* MAIN TAB */

.border div{
    z-index: 1;
    position: absolute;
    width: 10%;
    height: 100%;
}

.border div:nth-child(1){
    background: var(--background-color);
    left: 0%;
}

.border div:nth-child(2){
    background: var(--background-color);
    right: 0%;
}

.border-buttons div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 25%;
    z-index: 2;
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 35%;
}

.leftbutton{
    background: url(images/arrow.png);
    background-color: rgba(0, 0, 0, 0.5);
    rotate: 270deg;
    left: 3%;
}

.rightbutton{
    background: url(images/arrow.png);
    background-color: rgba(0, 0, 0, 0.5);
    rotate: 90deg;
    right: 3%;
}

.leftbutton:hover, .rightbutton:hover{
    cursor: pointer;
    background-color: rgb(150, 150, 150)
}

.rightbutton{
    background: url(images/arrow.png);
    background-color: rgb(100, 100, 100);
    rotate: 90deg;
    right: 3%;
}

main{
    margin: 0 auto;
    width: 80%;
}

.moviesgrid{
    width: 400%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    transition: margin-left 0.5s ease;
}

.allmoviesgrid{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin: auto auto;
}

.movie-preview{
    margin: 5% 1%;
}

.movies-page{
    margin: 10% auto;
}

.glowing{
    animation: glow 1s ease infinite;
}

.movie-image{
    margin: 1% auto;
    border-radius: 10%;
    background: rgba(calc(var(--order) * 12.75), 0, 0, 100%);
    width: 100%;
    height: 40vh;
}

.movie-preview div{
    display: flex;
    justify-content: center;
}

.scores{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin: 2% auto;
    font-size: 1.5vw;
    gap: 5%;
}

.score-icon{
    margin: auto auto;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.critic-score{
    background: red;
}

.fan-score{
    background: green;
}

.movie-preview:hover{
    color: blue;
}

.movie-preview:hover .movie-image{
    filter: brightness(65%);
}


/* ANIMATIONS */

@keyframes glow{
    0%{}
    50%{
        text-shadow: 0 0 15px gold;
        color: gold;
    }
    100%{}
}