:root{
    --background-color: rgba(0, 0, 0, 0.8);
}

body{
    background: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
    overflow-x: hidden;
    text-align: center;
    color: white;
    font-size: 150%;
    margin: 0;
    padding: 0;
}

a{
    display: contents;
    color: white;
}

a:hover{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background: rgba(25, 25, 25, 1);
    top: 0;
    width: 100%;
    z-index: 3;
}

footer{
    background: var(--background-color);
    width: 100%;
}

header a:hover{
    color: blue;
}

.logo:hover{
    cursor: pointer;
}

/* MAIN TAB */

a:nth-child(1) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BNzFkMDE2ZmEtOWMwNy00MWM2LThlNjMtZWQzNWY5MTJjZjcxXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(2) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMzc3MWVlMDctZTRjZi00YmZiLTg2OGItMGNkYWQwYjYwNjE1XkEyXkFqcGc@._V1_FMjpg_UX1017_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(3) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BNjk0MzdlZGEtNTRkOC00ZDRiLWJkYjAtMzUzYTRiNzk1YTViXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(4) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BNDQ0NWI1ZGEtY2NlMy00MWYyLTk4NGEtMTY5MmQ4YTcyY2E0XkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(5) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMTk3OTEyNjk1M15BMl5BanBnXkFtZTcwNTgwMTI2MQ@@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(6) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMTYwNDQyOTE0NF5BMl5BanBnXkFtZTYwNzQ0MTI3._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(7) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMWVhMjk4NTctYjYyYS00NjYxLWE5NTgtNTIzMTgzZDQyNzIyXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(8) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMTg2OTcyNzEwN15BMl5BanBnXkFtZTgwOTU0Mzc5NTE@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(9) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMTA0NDY2MzQxODheQTJeQWpwZ15BbWU3MDU3OTcwNjc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(10) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMDlkZTNjMWMtNmVhYy00N2RiLTg1MWYtNjY4ZDdiOGJjN2VhXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(11) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMjAwMjQ1ODA0NV5BMl5BanBnXkFtZTcwMjc4MTc0Mw@@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(12) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BNGFmYzA5NzktOTc1Ni00YTIxLWJiZTEtNmEyZjBjNDM2MjRlXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(13) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMzAwNmQzMzAtYjlhMi00ZGMxLWFmM2UtN2VhNDI2OGIyMjg0XkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(14) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMTk3Nzk4MzkzMV5BMl5BanBnXkFtZTcwMDU3OTQzMw@@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(15) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BYzFjMzNjOTktNDBlNy00YWZhLWExYTctZDcxNDA4OWVhOTJjXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(16) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BMjE0MzcwMDAyNl5BMl5BanBnXkFtZTgwMzc4ODg0NDM@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(17) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BYTYxMjI2YzUtODQ5Mi00M2JmLTlmNzItOTlkM2MyM2ExM2RlXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(18) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BYWUzNzZkNzUtNDdiYy00Nzk5LTgxMmItNTk0MjRjNjdjNDA0XkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(19) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BYTczZmZlZmEtODU4ZS00YzgzLThiMDUtMGE0ZmJhYzdhZGY5XkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(20) .movie-image{
    background: url(https://m.media-amazon.com/images/M/MV5BM2IwMDM3ZmQtNjQ3NS00OTFiLWI5YzEtYWE3YjI5NTk3YzkwXkEyXkFqcGc@._V1_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(21) .movie-image{
    background: url(images/movies/poster.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(22) .movie-image{
    background: url(images/movies/poster2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(23) .movie-image{
    background: url(images/movies/poster3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(24) .movie-image{
    background: url(images/movies/poster4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:nth-child(25) .movie-image{
    background: url(images/movies/poster5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movieSection{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4vw 0;
}

.movieSection p{
    text-align: left;
    margin: 5% 5%;
}

.movieTitle{
    font-weight: 800;
    padding-top: 5%;
}

.innerbox{
    margin: 0 auto;
    overflow-x: hidden;
    width: 85%;
}

.border-buttons div{
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 25%;
    z-index: 2;
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-top: 45vh;
    transition: transform 0.25s;
}

.border-buttons div:hover{
    transform: scale(110%);
}

.leftbutton{
    background: url(images/arrow.png);
    rotate: 270deg;
    left: 3%;
}

.rightbutton{
    background: url(images/arrow.png);
    rotate: 90deg;
    right: 3%;
}

.leftbutton:hover, .rightbutton:hover{
    cursor: pointer;
    background-color: rgb(50, 50, 50)
}

main{
    background: var(--background-color);
}

.moviesgrid{
    width: 400%;
    display: grid;
    grid-template-columns: repeat(calc(var(--div-count)), 5%);
    transition: margin-left 0.5s ease;
}

.allmoviesgrid{
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.moviesgrid p, .allmoviesgrid p{
    display: contents;
}

.movie-text{
    display: grid;
    grid-template-rows: 50% 50%;
}

.movie-preview{
    border-radius: 10%;
    margin: 0% 5%;
    margin-bottom: 5em;
    text-size-adjust: auto;
}

.moviesgrid .movie-preview{
    margin-bottom: 7vh;
}

.movies-page{
    padding: 5% 1%;
}

.glowing{
    animation: glow 1s ease infinite;
}

.user-score{
    animation: userscore 1s infinite;
}

a .movie-image{
    animation: border 1s infinite;
    background: black;
}

.movie-image{
    background-position: center center;
    margin: 1% auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    filter: brightness(70%);
    width: 100%;
    height: 55vh;
}

.movie-preview div{
    display: flex;
    justify-content: center;
}

.movie-preview div, .movie-preview p{
    transition: all 0.5s;
}

.scores{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2% 1%;
    gap: 5%;
}

img{
    margin-top: 3%;
    max-width: 25vw;
    width: 25vw;
    height: auto;
}

.movieContext .movieInfo .scores{
    border-top: 0.5rem solid white;
}

.criticScoreComment h2{
    color: red;
}

.fanScoreComment h2{
    color: green;
}

.score-icon{
    margin: auto auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.critic{
    background: red;
}

.fan{
    background: green;
}

.movie-preview:hover .movie-name{
    color: rgb(90, 90, 255);
}

.movie-preview:hover .movie-image{
    transform: scale(110%);
    margin-top: 10%;
    filter: brightness(125%);
}

.movie-preview:hover .movie-name{
    margin-top: 4vh;
}

/* SECRET */

.secret{
    background: rgba(50, 50, 50, 0.9);
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 10%;
    color: white;
    text-shadow: 0 0 15px white;
    transition: margin-top 1s;
    margin-top: 100vh;
    opacity: 0%;
}

.secretFull{
    animation: secretSite 16s;
    opacity: 100%;
}

.secretsite .secret{
    background: black;
    margin-top: 0vh;
}

.secretsite{
    background: black;
}

.secretsite a:hover{
    color: cyan;
}

.secret iframe{
    width: 50%;
    height: 45%;
}

.secret p{
    margin: 1% 1%;
}

.secret img{
    width: 25vh;
    height: 25vh;
}

.secret-unlock{
    animation: secret 6s ease-in-out infinite;
}

.ambienceSound{
    opacity: 0%;
}

/* ANIMATIONS */

@keyframes secretSite{
    0%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes secret{
    0%{
        margin-top: 100vh;
    }
    15%{
        margin-top: 0;
        opacity: 100%;
    }
    85%{
        margin-top: 0;
        opacity: 100%;
    }
    100%{
        margin-top: 100vh;
    }
}

@keyframes glow{
    0%{}
    50%{
        text-shadow: 0 0 15px gold;
        color: gold;
    }
    100%{}
}

@keyframes userscore{
    0%{}
    50%{
        text-shadow: 0 0 15px gold;
        color: rgb(255, 255, 0);
    }
    100%{}
}

@keyframes border{
    0%{
        border-bottom: 0.5rem solid rgb(255, 255, 255);
    }
    50%{
        border-bottom: 0.5rem solid     rgb(190, 190, 190);
    }
    100%{
        border-bottom: 0.5rem solid rgb(255, 255, 255);
    }
}

@media screen and (max-width: 1450px) {

.border-buttons div{
    width: 6vw;
    height: 6vw;
}

.leftbutton{
    left: 1%;
}

.rightbutton{
    right: 1%;
}

.innerbox .movie-name{
    margin-bottom: 5%;
}

}

@media screen and (max-width: 1210px) {

.border-buttons div{
    width: 8vw;
    height: 8vw;
}

.leftbutton{
    left: 0.5%;
}

.rightbutton{
    right: 0.5%;
}

.innerbox .movie-name{
    margin-bottom: 2vh;
}

.allmoviesgrid .movie-name{
    margin-bottom: 10%;
}

}

@media screen and (max-width: 976px) {

body{
    font-size: 100%;
}


.border-buttons div{
    width: 8vw;
    height: 8vw;
}

.leftbutton{
    left: 0.5%;
}

.rightbutton{
    right: 0.5%;
}

.innerbox .movie-name{
    margin-bottom: 5%;
}

.allmoviesgrid .movie-name{
    margin-bottom: 5%;
}

}

@media screen and (max-width: 660px) {

body{
    font-size: 50%;
}

.leftbutton{
    left: 0.5%;
}

.rightbutton{
    right: 0.5%;
}

.innerbox .movie-name{
    margin-bottom: 15%;
}

.allmoviesgrid .movie-name{
    margin-bottom: 5%;
}

}