.movie-image-1{
    background: url(https://m.media-amazon.com/images/M/MV5BNzFkMDE2ZmEtOWMwNy00MWM2LThlNjMtZWQzNWY5MTJjZjcxXkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-2{
    background: url(https://m.media-amazon.com/images/M/MV5BMzc3MWVlMDctZTRjZi00YmZiLTg2OGItMGNkYWQwYjYwNjE1XkEyXkFqcGc@._V1_FMjpg_UX1017_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-3{
    background: url(https://m.media-amazon.com/images/M/MV5BNjk0MzdlZGEtNTRkOC00ZDRiLWJkYjAtMzUzYTRiNzk1YTViXkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
}

.movie-image-4{
    background: url(https://m.media-amazon.com/images/M/MV5BNDQ0NWI1ZGEtY2NlMy00MWYyLTk4NGEtMTY5MmQ4YTcyY2E0XkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-5{
    background: url(https://m.media-amazon.com/images/M/MV5BMTk3OTEyNjk1M15BMl5BanBnXkFtZTcwNTgwMTI2MQ@@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-6{
    background: url(https://m.media-amazon.com/images/M/MV5BMTYwNDQyOTE0NF5BMl5BanBnXkFtZTYwNzQ0MTI3._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-7{
    background: url(https://m.media-amazon.com/images/M/MV5BMWVhMjk4NTctYjYyYS00NjYxLWE5NTgtNTIzMTgzZDQyNzIyXkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-8{
    background: url(https://m.media-amazon.com/images/M/MV5BMTg2OTcyNzEwN15BMl5BanBnXkFtZTgwOTU0Mzc5NTE@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-9{
    background: url(https://m.media-amazon.com/images/M/MV5BMTA0NDY2MzQxODheQTJeQWpwZ15BbWU3MDU3OTcwNjc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-10{
    background: url(https://m.media-amazon.com/images/M/MV5BMDlkZTNjMWMtNmVhYy00N2RiLTg1MWYtNjY4ZDdiOGJjN2VhXkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-11{
    background: url(https://m.media-amazon.com/images/M/MV5BMjAwMjQ1ODA0NV5BMl5BanBnXkFtZTcwMjc4MTc0Mw@@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-12{
    background: url(https://m.media-amazon.com/images/M/MV5BNGFmYzA5NzktOTc1Ni00YTIxLWJiZTEtNmEyZjBjNDM2MjRlXkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-13{
    background: url(https://m.media-amazon.com/images/M/MV5BMzAwNmQzMzAtYjlhMi00ZGMxLWFmM2UtN2VhNDI2OGIyMjg0XkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-14{
    background: url(https://m.media-amazon.com/images/M/MV5BMTk3Nzk4MzkzMV5BMl5BanBnXkFtZTcwMDU3OTQzMw@@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-15{
    background: url(https://m.media-amazon.com/images/M/MV5BYzFjMzNjOTktNDBlNy00YWZhLWExYTctZDcxNDA4OWVhOTJjXkEyXkFqcGc@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-16{
    background: url(https://m.media-amazon.com/images/M/MV5BMjE0MzcwMDAyNl5BMl5BanBnXkFtZTgwMzc4ODg0NDM@._V1_.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-17{
    background: url(../images/movies/poster.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-18{
    background: url(../images/movies/poster2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-19{
    background: url(../images/movies/poster3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-image-20{
    background: url(../images/movies/poster4.png);
    background-size: contain;
    background-repeat: no-repeat;
}